.form-control{
    background: transparent;
    border: 5px dashed var(--purple-hue);
}

.description{
    color: var(--purple-hue);
    font-size: 15px;
    line-height: 3;
    border: 1px solid var(--purple-hue);
}

.btn:hover{
    background-color: var(--purple-hue);
    border: 5px dashed var(--purple-hue);       
}
.form-control:focus,
.form-control:active,
.form-control {
    background: transparent;
    color: var(--purple-hue);
    font-family: var(--font);
}
.form-check{
    margin: 0 auto;
}
.mb-3, .mb-4{
    max-width: 80%;
    text-align:center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    background-color: black;
    color: var(--purple-hue);
}
.form{
    align-items: center;
    text-align: center;
    
}

.header, .description{
    width: 70%;
    margin: 30px auto;
}

@media screen and (max-width:768px){
    .mb-3{
        max-width: 100%;
    }

}